In [2]:
odds = [1, 3, 5, 7]
print("odds are:", odds)

odds are: [1, 3, 5, 7]

In [3]:
print("First element in the list", odds[0])

First element in the list 1

In [4]:
print("First element in the list", odds[-1])

First element in the list 7

In [6]:
print("Every second element in the list", odds[0::2])

Every second element in the list [1, 5]

In [8]:
names = ["Curie", "Darwing", "Turing"]
print("name is originally", names)
names[1] = "Darwin"
print("Final values of names", names)

name is originally ['Curie', 'Darwing', 'Turing']
Final values of names ['Curie', 'Darwin', 'Turing']

In [9]:
name = "Darwin"
print("First character in the name", name[0])

First character in the name D

In [ ]:
name[0] = "d"

In [12]:
x = [
    ["pepper", "courgette", "onion"],
    ["cabbage", "lettuce", "garlic"],
    ["apple", "pear", "banana"]
]

In [13]:
print(x[0])

['pepper', 'courgette', 'onion']

In [14]:
print (x[0][1])

courgette

In [16]:
sample_ages = [10, 12.5, "Unknown"]
print(type(sample_ages[0]))
print(type(sample_ages[1]))
print(type(sample_ages[2]))

<class 'int'>
<class 'float'>
<class 'str'>

In [29]:
odds.append(11)
print("odds after adding a value", odds)

odds after adding a value [11, 11, 11]

In [26]:
removed_element = odds.pop(0)
print("odds after removing the first element", odds)
print("removed_element", removed_element)

IndexError: pop from empty list

In [42]:
string_for_slicing = 'observation data: 02-Feb-2013'
x = string_for_slicing[-4:]
print(x)

2013

In [44]:
beatles = "In an octopus's garden in the shade"
x = beatles[0::2]
print(x)

I notpssgre ntesae

In [45]:
counts = [2,4,6,8,10]
print(counts *2)

[2, 4, 6, 8, 10, 2, 4, 6, 8, 10]